:root{
    --fontxsmall: clamp(10px, 0.7vw, 20px);
    --fontsmall: clamp(14px, 0.8vw, 20px);
    --fontmedium: clamp(16px, 0.9vw, 30px);
    --fontlarge: clamp(20px, 1.2vw , 40px);
    --fontxl: clamp(30px, 2vw, 60px);
    --padlittle: clamp(5px, 0.3vw, 25px);
    --padmedium: clamp(10px, 0.5vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.7rem, 0.01vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.8vw, 30px);
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}
*{
    padding: 0;
    margin: 0;
    line-height: 100%;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all .3s ease;
    color: white;
}
.escape{
    position: absolute;
    bottom: calc(2 * var(--gaplarge));
    right: calc(2 * var(--gaplarge));
    z-index: 200;
    font-size: calc( 0.7 * var(--fontsmall));
    color: rgba(255, 255, 255, 0.65);
}
.escape button{
    padding: calc(0.7 * var(--padlittle));
    color: black;
    font-weight: 600;
    margin-right: calc(0.5 * var(--gap));
    border-radius: calc(0.5 * var(--radius));
    border: 0;  
    font-size: calc( 0.7 * var(--fontsmall));
}
.flexsmall{
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.flexlittle{
    display: flex;
    gap: calc(0.5 * var(--gap));
    align-items: center;
}
body{
    background: url('images/backgroundimage.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    --scale: 1;
}
.wrapper{
    height: 100vh;
    background: rgba(0, 0, 0, 0.84);
    backdrop-filter: blur(12px);
    width: 100vw;
    overflow: hidden;
}
.glow{
    padding: var(--padmedium);
    height: 100vh;
    width: 100vw;
    background: url(images/glowtopleft.png) no-repeat top left, url(images/glowbottomright.png) no-repeat bottom right;
}
.container{
    border: 1px solid rgba(0, 217, 178, 0.2);
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.emotes-container{
    display: flex;
    width: 85vw;
    margin: auto;
    max-height: 80vh;
    justify-content: space-between;
}
.character div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.character img{
    width: 18vw;
    aspect-ratio: 4/9;
}
.emotes-section{
    display: flex;
    flex-direction: column;
    gap: var(--gaplarge);
    width: 21vw;
}
.emotes-section h2{
    line-height: 103%;
    letter-spacing: 4.8px;
    text-shadow: 0px 0px 88px rgba(255, 255, 255, 0.15);
    font-size: var(--fontxl);
}
.categories .category{
    flex: 1;
    justify-content: center;
    color: rgba(255, 255, 255, 0.70);
    font-weight: 500;
    font-size: var(--fontxsmall);
    height: 4.6vh;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.04);
    cursor: pointer;
}
.categories .category:hover{
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.06);
}
.categories .active{
    background-color: rgba(65, 204, 177, 0.25);
    background-image: url(images/activecategory.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #41CCB1;
}
.categories .active:hover{
    background-color: rgba(65, 204, 177, 0.65);
    background-image: url(images/activecategory.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.emotes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calc(0.5 * var(--gap));
    align-items: initial;
    grid-template-rows: fit-content(100);
    padding-right: var(--padlittle);
}
.emote{
    cursor: move;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.7vw;
    aspect-ratio: 1/1;
    position: relative;
}
.display{
    background-color: rgba(22, 97, 83, 0.35);
}
.display .pressState{
    position: absolute;
    height: 3px;
    width: 40%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px 8px 0px 0px;
    background: #00D9B2;
}
.display:hover{
    background-color: rgba(35, 147, 125, 0.5);
}
.emote:hover{
    border: 1px solid rgba(35, 147, 125, 0.25);
    background: rgba(0, 217, 178, 0.20) ;
}
.emote img{
    height: 85%;
}
/* RADIAL MENU STYLING */
.radial-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  .outer {
    position: relative;
    width: 30vw;
    aspect-ratio: 1/1;
  }
  .mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #FFF;
  }
  
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: var(--padmedium);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
  }
.quick-select{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: var(--gap);
    width: 12vw;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.quick-select p{
    font-weight: 400;
    line-height: 126%; /* 20.16px */
    letter-spacing: 0.48px;
    font-size: var(--fontsmall);
    font-family: 'Barlow', sans-serif;
}
.line {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    background-color: rgba(65, 204, 177, 0.06);
}
.line .emote{
    width: 7vw;
    aspect-ratio: 1/1;
    position: absolute;
    left: 5%;
    top: 0;
    z-index: -2;
    padding: 0;
    background: none;
    border: none;
}
.line .emote span{
    background-color: transparent !important;
}
.outerline.line{
    background: rgba(65, 204, 177, 0.08);
}
  .line7 {
    transform: rotate(45deg);
  }
  .line8 {
    transform: rotate(90deg);
  }
  .line1{
    transform: rotate(135deg);
  }
  .line2 {
    transform: rotate(180deg);
  }
  .line3 {
    transform: rotate(225deg);
  }
  .line4 {
    transform: rotate(270deg);
  }
  .line5 {
    transform: rotate(315deg);
  }
  .line6 {
    transform: rotate(0deg);
  }
.abs{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    transition: .3s ease all;
}
.abs1{
    transform: rotate(-135deg) translate(14%, 10%);
}
.abs2{
    transform: rotate(-180deg) translate(-4%, 0%);
}
.abs3{
    transform: rotate(-225deg) translate(-11%,17%);
}
.abs4{
    transform: rotate(-270deg) translate(2%, -4%);
}
.abs5{
    transform: rotate(-315deg) translate(-15%, -9%);
}
.abs6{
    transform: rotate(0deg) translate(3%, 0%);
}
.abs7{
    transform: rotate(-45deg) translate(10%,-17%);
}
.abs8{
    transform: rotate(-90deg) translate(-3%, 5%);
}
.dropenter img path{
    fill: black;
}
/* DRAG LEAVES RADIAL  MENU*/
.line1 .dropenter{
    transform: rotate(-135deg) translate(16% , 2%);
}
.line2 .dropenter{
    transform: rotate(-180deg) translate(5%, -5%);
}
.line3 .dropenter{
    transform: rotate(-225deg) translate(-4%,20%);
}
.line4 .dropenter{
    transform: rotate(-270deg) translate(5%, 2%);
}
.line5 .dropenter{
    transform: rotate(-315deg) translate(-18%, -2%);
}
.line6 .dropenter{
    transform: rotate(0deg) translate(-3%, 3%);
}
.line7 .dropenter{
    transform: rotate(-45deg) translate(5%,-20%);
}
.line8 .dropenter{
    transform: rotate(-90deg) translate(-7%, -5%);
}
.line1 .emote{
    transform: rotate(-135deg);
}
.line2 .emote{
    transform: rotate(-180deg);
}
.line3 .emote{
    transform: rotate(-225deg);
}
.line4 .emote{
    transform: rotate(-270deg);
}
.line5 .emote{
    transform: rotate(-315deg);
}
.line6 .emote{
    transform: rotate(0deg);
}
.line7 .emote{
    transform: rotate(-45deg);
}
.line8 .emote{
    transform: rotate(-95deg);
}

@media screen and (max-width: 4000px) {
    body {
      --scale: 1.5;
    }
  }
  
  @media screen and (max-width: 3000px) {
    body {
      --scale: 1.4;
    }
  }
  
  @media screen and (max-width: 2560px) {
    body {
      --scale: 1.3;
    }
  }
  
  @media screen and (max-width: 2100px) {
    body {
      --scale: 1.2;
    }
  }
  
  @media screen and (max-width: 2020px) {
    body {
      --scale: 1;
    }
  }
  
  @media screen and (max-width: 1520px) {
    body {
      --scale: 0.9;
    }
  
    .vehicleshop>.info {
      transform: scale(0.7);
    }
  }
  
  @media screen and (max-width: 1324px) {
    body {
      --scale: 0.87;
    }
  }
  
  @media screen and (max-width: 1124px) {
    body {
      --scale: 0.8;
    }
  }
  
  @media screen and (max-width: 1024px) {
    body {
      --scale: 0.7;
    }
  }
  
  @media screen and (max-width: 900px) {
    body {
      --scale: 0.6;
    }
  }
  
  @media screen and (max-width: 800px) {
    body {
      --scale: 0.5;
    }
  }
  .origen {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(calc(var(--scale) * 0.6));
    opacity: 0;
    transition: ease-in .25s;
    pointer-events: none;
  }
  .origen .quick-select {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  }
  
  .origen .lado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    aspect-ratio: 1/1;
    /* border-radius: 2000px; */
    /* background-color: red; */
  }
  
  .origen .lado>div {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(.8);
    transition: ease-in .25s;
  }
  .origen .lado>div .lado-bg {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.19) rotate(-29deg);
    width: 170px;
    height: 170px;
    transition: all .2s;
    z-index: -3;
  
  }
  .origen .lado:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(3) {
    transform: translate(-50%, -50%) rotate(135deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(4) {
    transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(5) {
    transform: translate(-50%, -50%) rotate(225deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(6) {
    transform: translate(-50%, -50%) rotate(270deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(7) {
    transform: translate(-50%, -50%) rotate(315deg) translate(0, -100%);
  }
  
  .origen .lado:nth-child(8) {
    transform: translate(-50%, -50%) rotate(0deg) translate(0, -100%);
  }
